@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100%;
    background-color: darkgray;
}
.passion-one-regular {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .passion-one-bold {
    font-family: "Passion One", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .passion-one-black {
    font-family: "Passion One", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }
header{
    background-color: black;
    max-height: 80vh;
    margin-inline: -10px;
    margin-top: -21px;
}
header h1{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: "Passion One";
    font-weight: 800;
    font-size: 10vw;
    font-variant: small-caps;
    margin-top: 0;
}
header h2{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    
}
a{
    font-family: Arial, Helvetica, sans-serif ;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 5vh;
    padding-left: 30px; 
    font-size: 3vw;
    font-family: 'Sriracha';
    line-height: 1.8em;
    font-style: italic;
}
.normal>p{
    padding-bottom: 5vh;
}
section.imagem{
    background-color: white;
    color: white;
    padding-bottom: 10vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.459);
}
#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
    
}
#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}

.imagem >p{
    display: inline-block ;
    background-color: rgba(0, 0, 0, 0.247);
    padding-right: 20px;
    padding-left: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.651);
}

footer{
    background-color: black;
}
footer>p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}